

.dashboard{
    display: flex;
    gap: 50px;
    height: 10vh;
    
    justify-content: center;
    background-color: blueviolet;
}
.main{
    display: flex;
    height: 80vh;
    
    /* background-color: rgb(188, 137, 236); */

}
.left{
    
    height: 80vh;
    width: 20vw;
}
.right{
    
    height: 80vh;
    width: 80vw;
}
.completed {
    color: green;
    text-decoration: line-through;
}
.task_list div {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}